<div class="components-header">
  <div class="header-box">
     <div class="header-left">
    <img src="@/assets/images/logo.png" alt="">
  </div>
  <div class="header-nav">
    <ul>
      <li>
        <router-link :to="{name:'home.index'}">首页</router-link>
      </li>
      <li>
        <router-link :to="{name:'business.index'}">业务</router-link>
      </li>
      <li>
        <router-link :to="{name:'case.index'}">案例</router-link>
      </li>
      <li>
        <router-link :to="{name:'cooperation.index'}">合作</router-link>
      </li>
      <li>
        <router-link :to="{name:'quality.index'}">品质</router-link>
      </li>
      <li>
        <router-link :to="{name:'increment.index'}">增值</router-link>
      </li>
      <li>
        <router-link :to="{name:'about.index'}">关于</router-link>
      </li>
      <li>
        <router-link :to="{name:'contact.index'}">联系</router-link>
      </li>
    </ul>
  </div>
  <div class="header-right">
    <a href="tel:4000-000-000">
      <i class="el-icon-phone"></i>4000-000-000
    </a>
    <i class="el-icon-menu"></i>
  </div>
  </div>
</div>