@import "~@/assets/scss/public.scss";

.page-index{
  position: relative;
  .components-header{
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    width: 100%;
    height: 90px;
    background: rgba(0,0,0,0);
    transition: .3s;
    .header-box{
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .header-nav{
        width: 40%;
        height: 100%;
        ul{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 100%;
          position: relative;
          li{
            text-align: center;
            width: 12.5%;
            color: #fff;
            font-size: 20px;
            padding: 26px 0;
            cursor: pointer;
            &.active{
              color:$color;
            }
          }
          li#backgroundSlide{
            position: absolute;
            top: 0;
            left: 0;
            width: 12.5%;
            height: 3px;
            padding: 0;
            transition: .3s;
            &:before{
              content: "";
              display: block;
              width: 70%;
              height: 3px;
              background-color: $color;
              margin: 0 auto;
              border-radius: 2px;
            }
          }
        }
      }
      .header-right{
        font-size: 26px;
        color: $color;
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
          display: flex;
          align-items: center;
          color: $color;
          margin-right: 20px;
          .el-icon-phone{
            border: 2px solid $color;
            border-radius: 50%;
            padding: 3px;
            font-size: 19px;
            margin-right: 10px;
          }
        }
        .el-icon-menu{
          cursor: pointer;
        }
      }
    }
  }
  .swiper-container{
    width: 100%;
    height: 100vh;
    .swiper-slide{
      &.swiper-footer{
        height: 80px;
      }
    }
  }
}